<!DOCTYPE html>

{% load static %}

<html>
	<head>
		<title>7tadelles</title>
		<link rel="icon" href="{% static 'welcome/7tadelles_icon.png' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'game_calendar/css/base.css' %}">
		{% block extra_headers %}{% endblock %}
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="utf-8">
	</head>
	<body>

		<!--header></header-->

		<div class="background">
			<div class="text">C'quand qu'on joue ?</div>
			{% block background %}{% endblock %}
		</div>

		<!--div class="btn btn-retour"><a href="{% url 'account:detail' %}"><img src="{% static 'game_calendar/images/nuage.png' %}"><p>retour</p></a></div-->

		<a href="{% url 'account:detail' %}" class="btn btn-retour">
			<img src="{% static 'game_calendar/images/nuage.png' %}">
			<p>retour</p>
		</a>

		<div class="foreground">
			{% block foreground %}{% endblock %}
		</div>

		<!--footer></footer-->

	</body>
</html>