{% extends 'game_calendar/base.html' %}

{% load static %}

{% block extra_headers %}
	<link rel="stylesheet" type="text/css" href="{% static 'game_calendar/css/index.css' %}">
{% endblock %}

{% block background %}

{% endblock %}

{% block foreground %}
	<div class="foreground__heading"><h1>Prochaines soirées</h1></div>
	<div class="foreground__content">
		{% for soiree in soirees %}
			<div class="soiree">
				<p class="date">{{ soiree.day_name }} {{ soiree.date.day }} {{ soiree.month_name }} {{ soiree.date.year }}</p>
				<img src="{{ soiree.lieu.image.url }}">
				<p class="lieu">{{ soiree.lieu.adresse }}</p>
				<p class="lieu">{{ soiree.lieu.code_postal }}, {{ soiree.lieu.ville }}</p>
			</div>
		{% endfor %}
	</div>	
{% endblock %}