{% extends 'account/base.html' %}


{% load static %}


{% block base_headers %}
	<link rel="stylesheet" type="text/css" href="{% static 'account/css/parameters/base.css' %}">
	{% block parameters_base_headers %}{% endblock %}
{% endblock %}

{% block base_foreground %}
	<div class="foreground__heading"></div>
	<div class="foreground__content">
		<div class="menu">
			<div class="trait"></div>
			{% for button in menu_buttons %}
				<a class="button" href="{% url button.1 %}"><p>{{ button.0 }}</p></a>
				<div class="trait"></div>
			{% endfor %}
		</div>
		<div class="page">
			{% block parameters_base_page %}{% endblock %}
		</div>
	</div>
{% endblock %}
