html {
    height: 100vh;
    overflow: hidden;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background: #2E3B41;

    perspective: 1px;
    transform-style: preserve-3d;

    overflow-x: hidden;
    overflow-y: scroll;
}

header {
    position: absolute;
    width: 100%;
    height: 100vh;
}

footer {
    position: absolute;
    width: 100%;
    height: 50vh;

    color: #bbb;
    z-index: 1;
}

.background, .foreground {
    width: 100%;
    min-height: 100vh;
    position: relative;

    transform-style: preserve-3d;
}

/* HEADER */

.centre {
    position: absolute;
    top: 4vh;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.btn {
    display: block;
    position: relative;
    color: #bbb;
    font-size: 2vw;
    text-decoration: none;
    border: 2px solid #bbb;
    padding: 0px 1vw;
    overflow: hidden;
}

.btn::before {
    content: "";
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    transition: all 0.6s ease;
    width: 120%;
    height: 0%;
    transform: translate(-50%, -50%) rotate(25deg);
}

.btn:hover::before {
    height: 250%;
}

/* BACKGROUND */

.background::before {
    content: "";

    width: 100%;
    aspect-ratio: 1;

    position: absolute;
    top: 49vh;

    background: url("7tadelles.png") top center;
    background-size: cover;

    transform: translateZ(-1px) scale(2);

    box-shadow: 0 -50vh 100px -150px #2E3B41 inset;
}

/* FOREGROUND */

.foreground {
    left: 50%;
    transform: translate(-50%);
    width: 80%;

    min-height: 200vh;

    background-color: #111;
    opacity: 0.7;

    font-family: 'Coolvetica-rg';
    font-size: 1.75vw;
    color: white;
}










.foreground__btnbar {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    flex-wrap: wrap;

    position: absolute;
    top: 0;
    width: 100%;
}

.foreground__btn {
    position: relative;
    overflow: hidden;
}

.foreground__btn a {
    display: block;
    text-decoration: none;
}

.foreground__btn p {
    padding: 0;
    margin: 1vh 1vw;

    font-family: 'Coolvetica-rg';
    font-size: 2vw;
    color: white;
}

.foreground__btn p::before {
    content: "";
    background: #fff;

    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);

    width: 0;
    height: 5%;

    transition: all 0.5s ease;
}

.foreground__btn:hover p::before {
    width: 80%;
}







.description p, .description ul {
    margin: 5vh 5vw;
}


.title {
    padding-top: 2vh;

    text-align: center;
}









.bottom-right {
    position: absolute;
    bottom: 1vh;
    right: 1vw;
}






@media all and (orientation: portrait) {

    .background::before {
        content: "";

        width: 100%;
        aspect-ratio: 1;

        position: absolute;
        top: -27vh;

        background: url("7tadelles.png") top center;
        background-size: cover;

        transform: translateZ(-1px) scale(2);

        box-shadow: 0 -50vh 100px -150px #2E3B41 inset;
    }

    .foreground {
        position: absolute;
        top: 17vh;
        font-size: 4vw;

        min-height: 100vh;
    }

    .foreground__btn p {
        font-size: 4vw;
    }

    .description > p, .description > ul {
        margin: 2vh 4vw;
    }

    .centre {
        top: 1vh;
    }

    .btn {
        border: 1px solid #bbb;
    }

}