{% extends 'leaderboard/base_form.html' %}


{% load static %}


{% block extra_headers %}
{% endblock %}

{% block title %}
{% endblock %}

{% block pre-text %}
{% endblock %}

{% block errors %}
	{% for error_name, value in errors.items %}
		{% if value.0 %}
			<p>{{ value.1 }}</p>
		{% endif %}
	{% endfor %}
{% endblock %}

{% block form %}
<form action="" method="post">
	{% csrf_token %}
	{{ form.as_p }}
	<input type="submit" class="btn btn-default btn-lg" value="Créer la partie">
</form>
{% endblock %}

{% block post-text %}
{% endblock %}