{% extends 'wiki/base.html' %}


{% load static %}


{% block extra_headers %}
	<link rel="stylesheet" type="text/css" href="{% static 'wiki/css/index.css' %}">
{% endblock %}

{% block btn_retour %}
	<a href="{% url 'welcome:index' %}" class="btn btn-retour">
		<img src="{% static 'wiki/photos/nuage.png' %}">
		<p>retour</p>
	</a>
{% endblock %}






{% block background %}
	<div class="background__txt">WIKI</div>
{% endblock %}


{% block foreground %}
	<div class="foreground__heading"><h1>Jeux de société</h1></div>
	<div class="foreground__content">
		{% for game in games %}
			<a class="game" href="{% url 'wiki:detail' game.id %}">
				<div class="game__fig">
					<div class="game__imgwrapper">
						{% if game.has_image %}
							<img src="{{ game.image.url }}">
						{% else %}
							<img src="{% static 'wiki/photos/default_game_image.png' %}">
						{% endif %}
					</div>
				</div>
				<div class="game__txt"><p>{{game.name}}</p></div>
			</a>
		{% endfor %}
	</div>
	
{% endblock %}

