.foreground {
	width: 80%;
}

.foreground__heading {
	text-align: center;
}

.foreground__heading > h1 {
	margin: 10px;
}

.foreground__content {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: justify;
}

.block {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: justify;

	box-shadow: 0 0 8px #9b9b9b;
	border-radius: 30px;

	margin: 20px;
}

.block-heading {
	text-align: center;
}

.block-heading > h2 {
	margin: 10px;
}

.block-content {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: justify;
}

.subblock {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: justify;
}

.subblock-heading {
	text-align: center;
}

.subblock-heading > h3 {
	margin: 10px;
}

.subblock-content {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.subblock-content > div {
	margin: 40px;

	box-shadow: 0 0 8px #9b9b9b;
	border-radius: 10px;
	padding: 20px;
}

.records__game__heading, .records__globaltable__heading, .classements__game__heading, .classements__globaltable__heading {
	text-align: center;
}

.subblock-content > div > div > h4 {
	margin-bottom: 20px;
	margin-top: 0;
}

table, tr, td {
	text-align: center;
	border: 1px solid black;
}





