<!DOCTYPE html>

{% load static %}

<html>
<head>
	<title>7tadelles</title>
	<link rel="stylesheet" type="text/css" href="{% static 'account/base_form.css' %}">
	{% block extra_headers %}{% endblock %}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
</head>
<body>

	<div class="container">
		<div>
			<div class="title">{% block title %}{% endblock %}</div>
			<div class="pre-text">
				<div class="pre-text__txt">{% block pre-text %}{% endblock %}</div>
				<div class="pre-text__errors">{% block errors %}{% endblock %}</div>
			</div>
			<div class="form">{% block form %}{% endblock %}</div>
			<div class="post-text">{% block post-text %}{% endblock %}</div>
		</div>
	</div>

</body>
</html>