body {
	height: 100vh;
	width: 100vw;
	margin: 0;
	padding: 0;
}

.corps {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.sidebar {
	width: 15%;
	background-color: #A0816C;
}

.foreground {
	width: 70%;
	min-height: 100vh;
}

footer {
	height: 200px;
	width: 100%;
	background-color: #BC9E82;
}