.foreground {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;

	font-family: 'NationalPark-ExtraBold';
	font-size: 1.5vw;
}

.foreground > div {
	width: 100%;
}

.foreground__heading {
	text-align: center;
	font-size: 1vw;
}

.foreground__content {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}





.soiree {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	height: 300px;
	width: 600px;

	margin: 1vh 1vw;

	box-shadow: 0 0 8px #9b9b9b;
	border-radius: 1vw;
}

.soiree > div {
	width: 100%;
}

.soiree__heading {
	text-align: center;
	font-size: 1vw;
}

.soiree__heading > h2 {
	margin: 1vh 0;
}

.soiree__content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	flex: 1;
}

.soiree__content > div {
	width: 50%;
	height: 100%;
}

.soiree__fig {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.soiree__imgwrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	width: 90%;
	aspect-ratio: auto;
}

.soiree__imgwrapper > img {
	max-height: 100%;
	max-width: 100%;
	aspect-ratio: auto;
}

.soiree__txt {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.soiree__txt > p, .soiree__txt > div {
	margin: 1vh 0;
	width: 80%;
}

.soiree__txt > div {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.soiree__txt > div > a {
	margin: 0 1vw;
	width: 50%;
}

.soiree__txt > div > a > img {
	max-height: 100%;
	max-width: 100%;
	aspect-ratio: auto;
}

