{% extends 'soiree/base_form.html' %}

{% block extra_headers %}
<style type="text/css">
	.pre-text {
		font-size: 1.8vw;
	}
	input {
		font-size: 1.5vw;
	}
</style>
{% endblock %}

{% block title %}
	<h1>Quand se tiendra cette soirée ?</h1>
{% endblock %}

{% block pre-text %}
{% endblock %}

{% block errors %}
	{% for error_name, value in errors.items %}
		{% if value.0 %}
			<p>{{ value.1 }}</p>
		{% endif %}
	{% endfor %}
{% endblock %}

{% block form %}
	<form action="" method="post">
		{% csrf_token %}
		<p>Veuillez indiquer la date à laquelle aura lieu la soirée : {{ form.date }}</p>
		<input type="submit" class="btn btn-default btn-lg" value="Suivant">
	</form>
{% endblock %}