.foreground {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: justify;

	font-family: 'NationalPark-ExtraBold';
	font-size: 1.5vw;
}

.errors {
	text-align: center;
	color: red;
}

.foreground__heading {
	text-align: center;
}

.foreground__heading > h1 {
	margin: 2vh 0;
}

.foreground__content {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: justify;
}

.colums-block {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: start;
}

.colums-block > div {
	width: 50%;
}

.column {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: justify;
}

.block {
	margin: 0.5vh 0.5vw;
	padding: 0.5vh 0.5vw;
	border: 2px solid black;
	border-radius: 1vw;
}

.block-heading > h2 {
	margin: 0 0 1vh 0;
}

.block-content {
	padding: 0 0.5vw;
}

.block-content > p {
	margin: 1vh 0;
}



.lieu__imgwrapper {
	max-width: 80%;
	aspect-ratio: 1 / 1;
}

.lieu__imgwrapper > img {
	max-height: 100%;
	max-width: 100%;
	aspect-ratio: auto;
}



.hote__detail {
	max-height: 30vh;
}

.hote__content {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

input, select {
	font-size: 1vw;
}

.buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;

	margin: 2vh 0;
}

.buttons > input, .buttons > a {
	font-family: 'NationalPark-ExtraBold';
	font-size: 1.5vw;
	color: white;
	padding: 0.5vh 0.5vw;
	border-radius: 0.5vw;
}

.buttons > a {
	background-color: #da3633;
	border: 5px solid #a40e26;
	text-decoration: none;
}

.buttons > input {
	background-color: #54aeff;
	border: 5px solid #0969da;
}

.invites__content {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.invite__detail, .hote__detail, .invites__add {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: justify;

	height: 200px;
	width: 400px;

	margin: 20px 20px;

	box-shadow: 0 0 8px #9b9b9b;
	border-radius: 1vw;
}

.invites__add > img {
	position: relative;
	top: 59%;
	left: 50%;
	transform: translate(-50%, -60%);

	max-width: 80%;
	max-height: 80%;
}

.invite__detail > div, .hote__detail > div {
	flex: 1;
}

.invite__fig, .hote__fig {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	height: 100%;
}

.invite__imgwrapper, .hote__imgwrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	max-height: 80%;
	max-width: 80%;
	aspect-ratio: 1 / 1;

	border: 1px solid black;
}

.invite__imgwrapper > img,.hote__imgwrapper > img {
	max-height: 100%;
	max-width: 100%;
	aspect-ratio: auto;
}

.invite__txt, .hote__txt {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


.btn-retour {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	position: sticky;
	top: 88vh;
	left: 91vw;

	text-decoration: none;
	font-family: 'NationalPark-ExtraBold';
	font-size: 1vw;
	color: black;

	width: 10vw;
	height: 10vh;

	z-index: 1;
}

.btn-retour > img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	max-width: 100%;
	max-height: 100%;
	aspect-ratio: auto;
}

.btn-retour > p {
	position: relative;
	left: 3px;
	z-index: 2;
}