{% extends 'account/user/detail_base.html' %}


{% load static account_custom_filters %}


{% block detail_base_headers %}
	<link rel="stylesheet" type="text/css" href="{% static 'account/css/user/detail_change.css' %}">
{% endblock %}

{% block detail_base_foreground %}
	{% if notifications %}
		<div class="notifications">
			<div class="notifications__heading"><h2>Notifications</h2></div>
			<div class="notifications__content">
				{% if no_notification %}
					<p class="no_notification">Aucune notification</p>
				{% else %}
					{% for notification in notifications %}
						{% if notification.link %}
							{% if notification.post_args %}
								<a class="notification" href="{% url notification.link notification.post_args %}{{notification.get_args}}">
									<div class="notification__heading"><h3>{{notification.title}}</h3></div>
									<div class="notification__content">{{notification.text}}</div>
								</a>
							{% else %}
								<a class="notification" href="{% url notification.link %}{{notification.get_args}}">
									<div class="notification__heading"><h3>{{notification.title}}</h3></div>
									<div class="notification__content">{{notification.text}}</div>
								</a>
							{% endif %}
						{% else %}
							<div class="notification">
								<div class="notification__heading"><h3>{{notification.title}}</h3></div>
								<div class="notification__content">{{notification.text}}</div>
							</div>
						{% endif %}
					{% endfor %}
				{% endif %}
			</div>
		</div>
	{% endif %}
	{% if user.amis.all|merge_querysets:user.demandes_envoyees.all %}
		<div class="amis">
			<div class="amis__heading"><h2>Amis</h2></div>
			<div class="amis__content">
				{% for person in user.amis.all|merge_querysets:user.demandes_envoyees.all %}
					<div class="person">
						<div class="person__profile_photo">
							<div class="person__imgwrapper">
								{% if person.has_profile_photo %}
									<img src="{{ person.profile_photo.url }}">
								{% else %}
									<img src="{% static 'account/photos/user/default_profile_photo.jpg' %}">
								{% endif %}
							</div>
						</div>
						<div class="person__txt">
							<p>{{ person.username }}</p>
							{% if person in user.amis.all %}
								<p class="result__info ami">ami(e)</p>
							{% elif person in user.demandes_envoyees.all %}
								<p class="result__info dmd_e">demande envoyée</p>
							{% elif person in user.demandes_recues.all %}
								<p class="result__info dmd_r">demande reçue</p>
							{% else %}
								<a class="result__info non_ami" href="{% url 'account:demande_ami' person.id %}">ajouter</a>
							{% endif %}
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	{% endif %}
{% endblock %}
