.foreground {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
}

.foreground > div {
	width: 100%;
}

.foreground__heading {
	text-align: center;

}

.block-heading {
	padding: 0 0.5vw;
}

.block-content {
	margin: 7vh 0;
}

.preview__content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.preview__content > div {
	width: 50%;
}

.preview__fig {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.preview__imgwrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	max-height: 80%;
	max-width: 80%;
	aspect-ratio: 1 / 1;
}

.preview__imgwrapper > img {
	max-height: 100%;
	max-width: 100%;
	aspect-ratio: auto;
}

.preview__txt {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.preview__txt > div {
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;
	width: 80%;
}

.preview__txt > div > img {
	margin: 0 1vw 0 0;
	width: 5vw;
}

.description__content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.description__content > p {
	text-align: center;
	margin: 0 2vw;
}





.video__content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.video__player {
	width: 80%;
	aspect-ratio: 2 / 1;
}

#player {
	width: 100%;
	height: 100%;
}

.no-video {
	text-align: center;
	font-size: 1vw;
}


.regles__content {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.regles__content > a {
	text-decoration: none;
	color: black;

	border: 1px solid black;
	border-radius: 1vw;

	padding: 1vh 1vw;
}






.btn-retour {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	position: sticky;
	top: 88vh;
	left: 91vw;

	text-decoration: none;
	font-family: 'NationalPark-ExtraBold';
	font-size: 1vw;
	color: black;

	width: 10vw;
	height: 10vh;

	z-index: 1;
}

.btn-retour > img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	max-width: 100%;
	max-height: 100%;
	aspect-ratio: auto;
}

.btn-retour > p {
	position: relative;
	left: 3px;
	z-index: 2;
}