.recherche-utilisateur {
	background-color: white;
	box-shadow: 0 0 8px #9b9b9b;
	border-radius: 10px;

	min-height: 100vh;

	padding: 0 0 0 20px;
	margin: 20px 0;
}

.recherche-utilisateur__heading {
	text-align: center;
	font-size: 20px;
}

.recherche-utilisateur__heading > h1 {
	margin: 10px 0 0 0;
}

.recherche-utilisateur__content {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: justify;
}

.recherche-utilisateur__searchbar {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	padding: 0 0 10px 0;
}

.recherche-utilisateur__searchbar > form > input {
	font-size: 20px;
}

.recherche-utilisateur__results {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;

	padding: 10px 0;
}

.person {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	text-decoration: none;
	color: black;

	height: 200px;
	width: 400px;

	margin: 20px;
	padding: 10px;

	box-shadow: 0 0 8px #9b9b9b;
	border-radius: 1vw;
}

.person > div {
	width: 50%;
	height: 100%;
}

.person__fig {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.person__imgwrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	max-height: 80%;
	max-width: 80%;
	aspect-ratio: 1 / 1;

	border: 1px solid black;
}

.person__imgwrapper > img {
	max-height: 100%;
	max-width: 100%;
	aspect-ratio: auto;
}

.person__txt {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.person__txt > p {
	text-align: center;
	max-width: 80%;
	margin: 5px 0;
	font-size: 30px;
}



