{% extends 'account/base_form.html' %}

{% block title %}
	<h1>Lier avec le compte discord</h1>
{% endblock %}

{% block pre-text %}
	<p>Pour lier votre compte avec votre compte discord, veuillez suivre les instructions suivantes :</p>
	<ul>
		<li>Envoyez "!link username" en message privé à 7tadellesBot où username est votre nom d'utilisateur ({{user.username}}).</li>
		<li>Nous vous enverrons ensuite un e-mail à l'adresse mail associée à ce compte ({{user.email}}) avec un lien sur lequel vous devrez cliquer pour lier votre compte à votre compte discord.</li>
	</ul>
	<a href="{% url 'account:retour1' %}">retour</a>
{% endblock %}