.middlebar {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
}

.middlebar > div {
	width: 100%;
}


h1 {
	font-size: 2.5vw;
	text-align: center;
}
h2 {
	font-size: 2vw;
	padding-left: 1vw;
}

/* PREVIEW */

.preview {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.preview > div {
	width: 50%;
	max-height: 90vh;
}

.preview__fig {
	/*height: 100%;*/
	width: 100%;
}

.preview__img {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	aspect-ratio: auto;
	max-width: 90%;
	max-height: 60vh;
}

.preview__txt {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;

	font-size: 2.5vw;

}

.preview__txt > div {
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;

	height: 15%;
	width: 100%;
}

.preview__txt > div > img {
	height: 80%;
	margin-right: 5%;
}







/* DESCRIPTION */

.description h1 {
	padding-left: 1vw;
}

.description p {
	font-size: 1.3em;
	text-align: center;

	padding: 0 3vw;
}





/* VIDÉO */

.video {
	display: flex;
	flex-direction: column;
}

.video__player {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
}

.no-video {
	text-align: center;
	font-size: 1vw;
}




.downloads__btnsdiv {
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;
	flex-wrap: wrap;
}


.btn {
	text-align: center;
	text-decoration: none;
	color: black;
	margin: 1%;
	border: 2px solid black;
}

.btn--round {
	border-radius: 10px;
}


.btn--big {
	font-size: 2em;
	width: 30%;
}













