h1 {
	text-align: center;
}

.games, .prochainement {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

.game-prev {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	max-height: 50vh;

	aspect-ratio: 5 / 6;

	margin: 5%;
}

.game-prev__fig {
	max-height: 100%;
	max-width: 100%;

	aspect-ratio: 1 / 1;
}



.game-prev__img {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	max-height: 100%;
	max-width: 100%;
}



.game-prev__heading {
	font-size: 1.5vw;
}








.sidebar {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;

	width: 15%;
	background-color: #A0816C;
}

.action {
	text-align: center;
	margin: 0;
	padding: 0;
}

.action > a {
	text-decoration: none;
	color: white;
	font-family: 'Coolvetica-condensed-rg';
	font-size: 1.5vw;
	margin: 0;
	padding: 0;
}

.action > a > p {
	margin: 1.5vh 0;
	padding: 0;
}

form {
	width: 100%;
}