{% extends 'account/base_detail.html' %}

{% load static %}

{% block extra_headers %}
<link rel="stylesheet" type="text/css" href="{% static 'account/detail.css' %}">
{% endblock %}

{% block left_sidebar %}
{% for action in actions %}
	{% if action.2 %}
		{% with action_args=action.2 %}
			<div class="action"><a href="{% url action.1 action_args %}"><p>{{ action.0 }}</p></a></div>
		{% endwith %}
	{% else %}
		<div class="action"><a href="{% url action.1 %}"><p>{{ action.0 }}</p></a></div>
	{% endif %}
{% endfor %}
{% endblock %}

{% block middlebar %}
<div class="preview">
	<div class="preview__fig">
		<div class=preview__imgwrapper>
			{% if default_profile_photo %}
				<img src="{% static 'account/default_profile_photo.png' %}">
			{% else %}
				<img src="{{ profile_photo.url }}">
			{% endif %}
		</div>
	</div>
	<div class="preview__txt">
		<p>Username : {{user.username}}</p>
		<p>E-mail   : {{user.email}}</p>
	</div>
</div>
{% endblock %}
