body {
	height: 100vh;
	width: 100vw;
	margin: 0;

	font-family: 'Nexa-Heavy';
	font-size: 1.5vw;

	background-color: #f0f2f5;
}

header {
	position: fixed;
	top: 0;
	left: 0;

	width: 100vw;
	height: 100px;
	background-color: black;

	z-index: 1;
}

.navbar__openbtn {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	position: relative;
	width: 100px;
	height: 100px;

	transition: all 0.5s ease;
}

.navbar__openbtn > div {
	margin: 5px 0;
	height: 5px;
	width: 60%;
	background-color: white;
}

.navbar__closebtn {
	position: absolute;
	top: 0;
	left: 0;

	width: 100px;
	height: 100px;
}

.navbar__closebtn > div {
	position: absolute;
	top: 45%;
	left: 20%;
	height: 5px;
	width: 60%;
	background-color: white;
	transition:	all 0.5s ease;
}

.navbar__closebtnl1 {
	transform: rotate(45deg);
}

.navbar__closebtnl2 {
	transform: rotate(-45deg);
}





.navbar {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;

	position: fixed;
	top: 0;
	left: -400px;

	width: 400px;
	height: 200vh;

	background-color: #222;

	transition: all 0.5s ease;

	z-index: 1;
}

.navbar__content {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: justify;

	margin: 0;
	padding: 0;

	font-size: 25px;

	width: 100%;
	height: 100vh;
}

.navbar__wrapper {
	margin-top: 100px;
	overflow: scroll;
}

.action {
	text-align: center;
	margin: 70px 0;
}

.action > a {
	text-decoration: none;
	color: white;
}

.foreground {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: justify;
	
	position: absolute;
	top: 100px;
	left: 50%;
	transform: translate(-50%);

	width: 1000px;
	min-height: 100vh;
}
