body {
	height: 100vh;
	width: 100vw;
	margin: 0;
	padding: 0;
}

.corps {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.sidebar {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;

	width: 15%;
	background-color: #A0816C;
}

.action {
	text-align: center;
	margin: 0;
	padding: 0;
}

.action > a {
	text-decoration: none;
	color: white;
	font-family: 'Coolvetica-condensed-rg';
	font-size: 1.5vw;
	margin: 0;
	padding: 0;
}

.action > a > p {
	margin: 1.5vh 0;
	padding: 0;
}

.foreground {
	width: 70%;
	min-height: 100vh;
}

footer {
	height: 200px;
	width: 100%;
	background-color: #BC9E82;
}