.foreground {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;

	font-family: 'NationalPark-ExtraBold';
	font-size: 1.5vw;
}

.foreground > div {
	width: 100%;
}

.block {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
}

.block > div {
	width: 100%;
}

.block-heading {
	text-align: center;
}






.preview__content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.preview__content > div {
	width: 50%;
}

.preview__fig {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.preview__imgwrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 50%;
	aspect-ratio: 1 / 1;

	box-shadow: 0 0 8px #9b9b9b;
	border-radius: 50%;
	overflow: hidden;
}

.preview__imgwrapper > img {
	max-width: 100%;
	max-height: 100%;
	aspect-ratio: auto;
}

.preview__txt {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}





.notifications__content {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
}

.notifications__content > a, .notifications__content > div {
	width: 90%;

	box-shadow: 0 0 8px #9b9b9b;
	border-radius: 1vw;
	text-decoration: none;
	color: black;
	word-wrap: break-word;


	margin: 1vh 0 1vh 0;
	padding: 0 0 1vh 1vw;
}

.notification__heading > h3 {
	margin: 1vh 0 1vh 0;
	padding: 0 0 0 0;
	font-weight: bold;
}





.amis__content {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.person {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	height: 200px;
	width: 400px;

	margin: 1vh 1.5vw 1vh 1.5vw;

	box-shadow: 0 0 8px #9b9b9b;
	border-radius: 1vw;
}

.person > div {
	width: 50%;
	height: 100%;
}

.person__profile_photo {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.person__imgwrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 50%;
	width: 50%;
	border: 1px solid black;
}

.person__imgwrapper > img {
	max-height: 100%;
	max-width: 100%;
	aspect-ratio: auto;
}

.person__txt {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.person__txt > p {
	text-align: center;
	max-width: 80%;
	margin: 1vh 0;
	padding: 0 0.5vw 0.5vh 0.5vw;
}



.dmd_r, .dmd_e {
	border-radius: 1vw;
	background-color: #9b9b9b;
	color: white;
	padding: 0 0 0.5vh 0;
}

.ami {
	border-radius: 1vw;
	background-color: #5dd300;
	color: white;
	padding: 0 0 0.5vh 0;
}
